Flask==2.2.3
google_api_python_client==2.103.0
goose3==3.1.12
matplotlib==3.7.3
numpy==1.24.4
pandas==2.0.3
Pillow==10.0.1
plotly==5.13.0
python-dotenv==1.0.0
Requests==2.31.0
snscrape==0.6.2.20230320
vaderSentiment==3.3.2
wordcloud==1.9.2
Werkzeug==2.2.2
